@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}


/*
.bg-dark {
    background-color: #000 !important;
    opacity: 0.9;
}

.bg-dark:hover {
    background-color: #3a3939 !important;
    transition: 2s;
}
*/

.nav-link:hover {
    color: black !important;
}

.nav-item {
    font-size: 30px;
}

#banner {
    min-height: 400px;
    height: 50vh;
    position: relative;
    z-index: 2;
}


/*
#banner span {
    background: #333333;
    background: -webkit-linear-gradient(to right, #6b1717, #1f1e1e);
    background: linear-gradient(to right, #6b1111, #575656);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
*/

.myTitles {
    font-size: 3rem;
}

.myTextsLight {
    font-weight: 500;
}

.MyTexts {
    font-size: 1.25rem;
}


/*boostrap*/

#header {
    background-image: url("https://i.ibb.co/7N9wpqs/fondo-banner.jpg");
    background-position: center;
    background-size: cover;
}

.img-logo {
    width: 100px;
}

.vh-50 {
    height: 50vmin;
}


/*Productos*/

#headerProductos {
    background-image: url("https://wc.wallpaperuse.com/wallp/25-257806_s.jpg");
    background-position: bottom right;
    background-size: contain;
}

.card-img {
    height: 600px;
}

.card-img-filter {
    filter: brightness(0.5);
}

.card {
    transition-duration: 0.6s;
    clip-path: polygon( 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
}

.card-effect:hover .card {
    clip-path: polygon( 50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
}

.card-img-overlay {
    transition-duration: .6s;
}

.card-effect:hover .card-img-overlay {
    transform: scale(0.8);
}


/*Añadiendo hover a los iconos del footer*/

.iconos {
    font-size: 3rem;
}

.fab {
    transition: 0.5s;
}

.fa-facebook:hover {
    color: #3b5998;
    transition: 0.5s;
}

.fa-twitter-square {
    transition: 0.5s
}

.fa-twitter-square:hover {
    color: #00acee;
    transition: 0.5s
}

.fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: transparent;
    transition: 0.5s;
    -webkit-background-clip: text;
}


/*fin de los hover de footer */


/*Carrousel*/

.img-carousel {
    height: 100%;
}

.carousel-weston-middle {
    top: 40%
}

.fondoCarousel {
    background: #360033;
    background: -webkit-linear-gradient(150deg, #1c2122, #555155);
    background: linear-gradient(150deg, #13191a, #555155);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*Sobre nosotros*/

#headerNosotros {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/594/33/136/drink-bar-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
}


/*Seccion Registro*/

#headerRegistro {
    background-image: url("https://images.ecestaticos.com/_LaNE9_iTiWtvDl1UJeqrk_6qmM=/0x102:2115x1298/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F7f6%2F16a%2Fdec%2F7f616adecfeffedd6c75dddd99e0298d.jpg");
    background-position: center;
    background-size: cover;
}

.mapa {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.mapa iframe {
    width: 100%;
}

#local {
    background-color: #f3f3f3;
    padding-bottom: 100px;
    justify-content: center;
}

.wrapper {
    width: 50%;
    padding-top: 100px;
    align-items: justify
}

#numero-local div {
    padding: 0 20px 0 0;
    height: 48px;
}

#numero-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numero-local div:not(:first-child) {
    padding-left: 20px;
}

#numero-local p {
    margin: 0;
}


/*media para seccion sobre nosotros*/

@media (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper {
        width: 100%;
        margin: auto;
        padding-top: 10px;
    }
}


/*Mi seccion Contacto*/

#headerContacto {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/1009/744/893/alcohol-bar-bottles-container-wallpaper-preview.jpg");
    background-position: center;
    background-size: cover;
}

#bg-contacto svg {
    position: relative;
    top: -5px;
}

#contacto {
    position: relative;
    min-height: 900px;
    background-color: #DEDEDE;
}

#formulario {
    position: relative;
    top: -100px;
    max-width: 500px;
    height: 900px;
    border-radius: 5px;
    background-color: white;
}

#tituloFormulario {
    color: #3f3f3f;
}

#registro {
    height: 100%;
    background-color: #DEDEDE;
}

#formularioRegistro {
    height: 1100px;
    background-color: white;
    max-width: 500px;
}