@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
body {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

#header {
  background-image: url("https://i.ibb.co/7N9wpqs/fondo-banner.jpg");
  background-position: center;
  background-size: cover;
}

#header img {
  width: 100px;
}

#header .fondoButton {
  background-color: #f3f3f3;
}

#header .nav-link:hover {
  color: #eea810 !important;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  #header .nav-link:hover {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

#banner {
  height: 70vh;
  position: relative;
  z-index: 2;
}

#banner p:nth-child(1) {
  font-weight: 500;
  font-size: 1.25rem;
}

.carouselImg {
  width: 100%;
}

.fontIndex {
  text-align: justify;
}

@media (max-width: 500px) {
  .fontIndex {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .fontPreguntas {
    font-size: 14px;
  }
}

/*Añadiendo hover a los iconos del footer*/
#footer .drinkFooter {
  font-size: 1.2rem;
  font-weight: bold;
}

#footer .seccion {
  padding: 20px 0px;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (max-width: 400px) {
  #footer .seccion {
    font-size: 0.9rem;
  }
}

#footer .social {
  padding: 20px 0px;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (max-width: 400px) {
  #footer .social {
    font-size: 0.9rem;
  }
}

#footer .iconos {
  font-size: 3rem;
}

@media (max-width: 768px) {
  #footer .iconos {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  #footer .iconos {
    font-size: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .fab {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .fa-facebook:hover {
  color: #3b5998;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .fa-twitter-square:hover {
  color: #00acee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-background-clip: text;
}

#footer .fa-whatsapp:hover {
  color: #0DC143;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*fin de los hover de footer */
/*Seccion Nosotros*/
#headerNosotros {
  background-image: url("https://www.eluniversal.com.mx/sites/default/files/2018/05/16/wine-dharma-456183-unsplash_los_cocteles_mas_populares_menu_el_universal.jpg");
  background-position: center;
  background-size: cover;
}

#headerNosotros img {
  width: 100px;
}

#headerNosotros .fondoButton {
  background-color: white;
}

#headerNosotros .nav-link:hover {
  color: #eea810 !important;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  #headerNosotros .nav-link:hover {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.experienciasNosotros li .media-object-img {
  width: 150px;
  height: 100px;
  margin-right: 15px;
}

.experienciasNosotros li .media-object-img:hover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 500px) {
  .experienciasNosotros li .media-object-img {
    width: 120px;
    height: 100px;
    margin: auto;
  }
}

.experienciasNosotros li .media-body {
  background-color: #f3f3f3;
  border-radius: 25px;
  padding: 10px 20px 0 20px;
}

.experienciasNosotros li .media-body .textCompra {
  font-size: 23px;
}

@media (max-width: 500px) {
  .experienciasNosotros li .media-body .textCompra {
    font-size: 18px;
  }
}

.experienciasNosotros li .media-body .textExperiencias {
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 500px) {
  .experienciasNosotros li .media-body .textExperiencias {
    font-size: 13px;
  }
}

#local {
  background-color: #f3f3f3;
  padding-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  #local {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
  }
}

#local .mapa {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}

#local .mapa iframe {
  width: 100%;
}

#local .wrapper {
  width: 50%;
  padding-top: 20px;
  -webkit-box-align: justify;
      -ms-flex-align: justify;
          align-items: justify;
}

@media (max-width: 1200px) {
  #local .wrapper {
    width: 100%;
    margin: auto;
    padding-top: 10px;
  }
}

#local .wrapper .textLocalContainer {
  text-align: justify;
}

@media (max-width: 500px) {
  #local .wrapper .textLocalContainer {
    font-size: 14px;
  }
}

#local .wrapper #numero-local div {
  padding: 0 20px 0 0;
  height: 48px;
}

#local .wrapper #numero-local div:not(:last-child) {
  border-right: 2px solid #3f3f3f;
}

#local .wrapper #numero-local div:not(:first-child) {
  padding-left: 20px;
}

#local .wrapper #numero-local p {
  margin: 0;
}

@media (max-width: 500px) {
  #local .wrapper #numero-local .textLocal {
    font-size: 13px;
  }
}

/*Seccion Productos*/
#headerProductos {
  background-image: url("https://wc.wallpaperuse.com/wallp/25-257806_s.jpg");
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  #headerProductos {
    background-position: right;
  }
}

#headerProductos img {
  width: 100px;
}

#headerProductos .fondoButton {
  background-color: #f3f3f3;
}

#headerProductos .nav-link:hover {
  color: #eea810 !important;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  #headerProductos .nav-link:hover {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

#section .card-effect {
  padding: 10px;
}

#section .card-effect:hover .card {
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
          clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
}

#section .card-effect:hover .card-img-overlay {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#section .card-effect .card {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
          clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
}

#section .card-effect .card .card-img-filter {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

#section .card-effect .card .card-img-overlay {
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.modalColor {
  color: white;
}

/*Mi seccion Contacto*/
#headerContacto {
  background-image: url("https://bebidasalcoholicas.org/wp-content/uploads/2019/07/Dark-Liquor-List2.jpg");
  background-position: center;
  background-size: cover;
}

#headerContacto img {
  width: 100px;
}

#headerContacto .fondoButton {
  background-color: white;
}

#headerContacto .nav-link:hover {
  color: #eea810 !important;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  #headerContacto .nav-link:hover {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.fondoContacto {
  background-color: black;
  overflow: hidden;
}

#contacto .fondoMensaje {
  background-image: url("https://i0.wp.com/shakeadito.com/wp-content/uploads/2020/10/potion-2217630_1280.jpg?fit=1280%2C789&ssl=1");
  background-position: center;
  background-size: cover;
}

#contacto .fondoMensaje .textFont {
  font-weight: 600;
}

#contacto .cardForm {
  background-color: #F4F1F1;
}

#contacto .cardForm .textFont {
  font-weight: 600;
}

/*Seccion Recetario*/
#headerRecetario {
  background-image: url("https://images.ecestaticos.com/_LaNE9_iTiWtvDl1UJeqrk_6qmM=/0x102:2115x1298/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F7f6%2F16a%2Fdec%2F7f616adecfeffedd6c75dddd99e0298d.jpg");
  background-position: center;
  background-size: cover;
}

#headerRecetario img {
  width: 100px;
}

#headerRecetario .fondoButton {
  background-color: white;
}

#headerRecetario .nav-link:hover {
  color: #eea810 !important;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  #headerRecetario .nav-link:hover {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

#recetario {
  background: linear-gradient(45deg, #420307, #dedede, white);
  background-size: 400% 400%;
  position: relative;
  -webkit-animation: efecto 10s ease infinite;
          animation: efecto 10s ease infinite;
}

@-webkit-keyframes efecto {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes efecto {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.contenedor {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}

@media (max-width: 1200px) {
  .contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 767px) {
  .contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
  }
}

.contenedor figure {
  position: relative;
  width: 85%;
  height: 85%;
  overflow: hidden;
  border-radius: 25px;
  -webkit-box-shadow: 0px 15px 25px rgba(24, 23, 23, 0.5);
          box-shadow: 0px 15px 25px rgba(24, 23, 23, 0.5);
  cursor: pointer;
}

.contenedor figure:hover .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor figure:hover .capa h3 {
  margin-top: 50px;
  margin-bottom: 15px;
}

@media (max-width: 400px) {
  .contenedor figure:hover .capa h3 {
    margin-top: 30px;
  }
}

.contenedor figure:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contenedor figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(103, 124, 128, 0.7);
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: center;
  color: white;
}

.contenedor figure .capa h3 {
  color: #490404;
  font-weight: 600;
  margin-bottom: 120px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-top: 30px;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}

@media (max-width: 400px) {
  .contenedor figure .capa h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.contenedor figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

@media (max-width: 400px) {
  .contenedor figure .capa p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */