/*Mi seccion Contacto*/

#headerContacto {
    background-image: url("https://m.media-amazon.com/images/I/617ZwBvoU4L._AC_SL1001_.jpg");
    @include fondoBaner;
    img {
        width: 100px;
    }
    .fondoButton {
        background-color: white;
    }
    .nav-link {
        &:hover {
            color: $colorHover;
            @include transiHover;
            @media (max-width: 991px) {
                @include transiHoverMedia;
            }
        }
    }
}

.fondoContacto {
    background-color: black;
}

#contacto {
    .fondoMensaje {
        background-image: url("https://p4.wallpaperbetter.com/wallpaper/859/689/238/alcohol-drink-drinks-liquor-wallpaper-preview.jpg");
        @include fondoBaner;
        .textFont {
            font-weight: 600;
        }
    }
    .cardForm {
        background-color: #F4F1F1;
        .textFont {
            font-weight: 600;
        }
    }
}