/*Añadiendo hover a los iconos del footer*/

#footer {
    .iconos {
        font-size: map-get($footer, font);
        @media (max-width: 768px) {
            font-size: map-get($footer, fontMedia);
        }
    }
    .fab {
        transition: map-get($footer, trans);
    }
    .fa-facebook:hover {
        color: map-get($footer, colF);
        transition: map-get($footer, trans);
    }
    .fa-twitter-square:hover {
        color: map-get($footer, colT);
        transition: map-get($footer, trans);
    }
    .fa-instagram:hover {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        color: map-get($footer, colIns);
        transition: map-get($footer, trans);
        -webkit-background-clip: text;
    }
}


/*fin de los hover de footer */