#header {
    background-image: url("https://i.ibb.co/7N9wpqs/fondo-banner.jpg");
    @include fondoBaner;
    img {
        width: 100px;
    }
    .fondoButton {
        background-color: $bgcolor;
    }
    .nav-link {
        &:hover {
            color: $colorHover;
            @include transiHover;
            @media (max-width: 991px) {
                @include transiHoverMedia;
            }
        }
    }
}

#banner {
    @include contentBaner;
}

.fondoCarousel {
    background: #360033;
    background: -webkit-linear-gradient(150deg, #1c2122, #555155);
    background: linear-gradient(150deg, #13191a, #555155);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
    .img-carousel {
        height: 100%;
    }
    .carousel-weston-middle {
        top: 70%
    }
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fontIndex {
    @media (max-width: $pointmd) {
        font-size: $fontMedia;
    }
}