$bodyfon: 400;
$bodyfam:'Open Sans',
sans-serif;
$pointmd: 500px;
$pointsm: 400px;
$pointxl: 1200px;
$fontMedia: 12px;
$fontNormal: 14px;
$colorHover: rgb(238, 168, 16) !important;
$bgcolor: #f3f3f3;
$footer: ( font:3rem, fontMedia: 2rem, trans:0.5s, colF:#3b5998, colT: #00acee, colIns: transparent);